/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: "Poppins", sans-serif;
    background: #fafafa;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386d5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386d5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386d5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    border: 2px solid red;
    overflow: hidden;
}

.app-panel {
    position: relative;
    width: 100%;
    height: 100%;
    border: 2px solid red;
    overflow: hidden;
    /* background-color: yellowgreen; */
}

.app-panel .row {
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 2px solid blue;
}

.drum-container {
    width: 100%;
    height: 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.drum-container img {
    width: 100%;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.webcam-pause {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 2;
    backdrop-filter: blur(10px);
}

#webcam {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: 0;
    transform: rotateY(180deg);
    pointer-events: none;
    -webkit-transform: rotateY(180deg);
    /* Safari and Chrome */
    -moz-transform: rotateY(180deg);
    /* Firefox */
    object-fit: fit;
}


#canvas-source {
    display: none;
    position: fixed;
    top: 10%;
    left: 10%;
    background-color: aqua;
    /* min-width: 100%;
    min-height: 100%; */
    width: 10%;
    height: 10%;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    object-fit: fill;
}

#canvas-blended {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    opacity: 80%;
}

.spinner-grow {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

#web-link {
    z-index: 999999;
    left: 10px;
    top: 10%;
    position: absolute;
}

#web-link a {
    color: white;
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    #errorMsg {
        position: fixed;
        top: 30vh;
        left: 20vw;
        padding: 20px;
        z-index: 999999;
    }
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}